@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --cell-width: 95px;
  --ball-size: 80%;
}

* {
  box-sizing: border-box;
  /* margin: 0; */
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 0;
  position: relative;
}


h1 {
  margin: 0;
  padding: 10px 0 0 20px;
}

/* scoring section */
.scoring {
  display: flex;
  /* width: 100%; */
  justify-content: flex-end;
  padding-right: 90px;
  align-items: center;
  margin-top: -20px;
}


.score {
  font-size: 50px;
}

.player1Name {
  color: #FF7B23;
  font-weight: bold;
}

.player2Name {
  color: #00007F;
  font-weight: bold;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding: 25px 60px; 
}

.btn:hover {
  cursor: pointer;
}

.highlight {
  padding: 15px 25px;
  border: none;
  border-radius: 10px;
}

.mode1player.highlight, 
.mode2players.highlight {
  cursor: none;
}

/* buttons */
.new-game:disabled, 
.new-tournament:disabled, 
.mode2players:disabled {
  cursor: not-allowed;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 40px 0 40px;
  margin-bottom: 0;
  /* height: 500px; */
  border: 3px solid green;
}

.player-1-image {
  /* border: 2px solid orange; */
  height: 420px;
  width: 180px;
  align-self: flex-end;
}

.player-2-image {
  /* border: 2px solid blue; */
  height: 420px;
  width: 180px;
  align-self: flex-end;
}

/* orange basketball to bring in later */
.hide {
  display: none;
}

.loose-ball {
  width: calc(0.8*var(--cell-width));
  position: absolute;  /* relative to body */
  top: 0;
  left: 0;
}

.grid-wrapper {
  border: 2px solid pink;
  justify-content: center;
}

.grid {
  background-image: url('../images/court_bball6_cropped.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top 80px right 0;
  /* background-position: center; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 2px solid purple; */
  height: 520px;
  width: 850px; /* 837 */
  /* position: relative; */
}

.cell {
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.97);
  width: var(--cell-width);
  margin: 2px 3px;
  border-radius: 10px;
  /* transform: translateX(300%); */
  transition: transform 0.4s ease;
}

/* div#orange.hovered */
/* each cell (col) that's hovered over, show ball moving */
.hovered-orange {
  background-image: url('../images/bball_orange-cropped.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: var(--ball-size);
  opacity: 30%;
}

.hovered-blue {
  background-image: url('../images/bball_blue-cropped.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: var(--ball-size);
  opacity: 30%;
}

/* no border for top row of cells */
div[data-id="0"], 
div[data-id="1"],
div[data-id="2"],
div[data-id="3"], 
div[data-id="4"],
div[data-id="5"],
div[data-id="6"],
div[data-id="7"] {
  /* border: 1px dashed #ededed; */
  border: none;
  /* border-bottom: 2px solid black; */
  background-color: #fff;
  /* z-index: -1; */
  margin-bottom: 4px;
}

div[data-id="40"], 
div[data-id="41"],
div[data-id="42"],
div[data-id="43"], 
div[data-id="44"],
div[data-id="45"],
div[data-id="46"],
div[data-id="47"] {
  margin-bottom: 4px;
}

.cell:hover {
  cursor: pointer;
}

#orange {
  background-image: url('../images/bball_orange-cropped.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: var(--ball-size);
}

#blue {
  background-image: url('../images/bball_blue-cropped.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: var(--ball-size);
}

.ball-drop-animation {
  animation: ballDrop 3s ease-in-out;
}

.pulsate {
  /* background-color: blueviolet; */
  background-image: url('../images/bball_orange-cropped.svg');
  position: relative;
  animation: pulsateBall 1.5s infinite;
  /* transition: transform 1s; */
  /* transform: scale(2); */
}

@keyframes ballDrop {
  0% {

  }
  100% {

  }
}


@keyframes pulsateBall {
  0% {
    background-size: 80%;
  }
  50% {
    background-size: 135%;
  }
  100% {
    background-size: 80%;
  }
  /* entire cell grows */
  /* 
  50%{
    transform: scale(2);
  } 
  */
}

/* responsive design */
/*   - medium screens: make whole grid-wrapper smaller */
/*     and make players either side smaller */
/*   - small screens: make it 8x5 (instead of 5x8!!)?! */
/*   - move h1 to middle of top */
/*   - bring scoreboard below buttons */
/*   - each pair of buttons to stack vertically */