@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding: 25px 60px; 
}

.btn:hover {
  cursor: pointer;
}

.highlight {
  padding: 15px 25px;
  border: none;
  border-radius: 10px;
}

.mode1player.highlight, 
.mode2players.highlight {
  cursor: none;
}

/* buttons */
.new-game:disabled, 
.new-tournament:disabled, 
.mode2players:disabled {
  cursor: not-allowed;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 40px 0 40px;
  margin-bottom: 0;
  height: 500px;
  border: 3px solid green;
}

.player-1-image {
  border: 2px solid orange;
  height: 420px;
  width: 180px;
  align-self: flex-end;
}

.player-2-image {
  border: 2px solid blue;
  height: 420px;
  width: 180px;
  align-self: flex-end;
}

.grid-wrapper {
  border: 2px solid pink;
}

.grid {
  /* background-image: url('../images/court_bball6_cropped.jpeg'); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top 80px right 0;
  /* background-position: center; */
  display: flex;
  flex-wrap: wrap;
  border: 2px solid purple;
  height: 500px;
  width: 800px;
  /* position: relative; */
}

.cell {
  border: 2px solid black;
  width: 12.5%;
}

/* div#orange.hovered */
/* each cell (col) that's hovered over, show ball moving */
.hovered-orange {
  background-image: url('../images/bball_orange-cropped.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  opacity: 30%;
  z-index: -1;
}

.hovered-blue {
  background-image: url('../images/bball_blue-cropped.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  opacity: 30%;
}

/* no border for top row of cells */
div[data-id="0"], 
div[data-id="1"],
div[data-id="2"],
div[data-id="3"], 
div[data-id="4"],
div[data-id="5"],
div[data-id="6"],
div[data-id="7"] {
  border: 1px dashed #ededed;
  border-bottom: 2px solid black;
}

.cell:hover {
  cursor: pointer;
}

#orange {
  background-image: url('../images/bball_orange-cropped.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

#blue {
  background-image: url('../images/bball_blue-cropped.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 78%;
}

.pulsate {
  /* background-color: blueviolet; */
  background-image: url('../images/bball_orange-cropped.svg');
  position: relative;
  animation: pulsateBall 1.5s infinite;
}

/* .pulsate::before {
  content: ' ';
  background-image: url('../images/bball_orange-cropped.svg');
  display: block;
  position: absolute;
} */


@keyframes pulsateBall {
  0% {
    background-size: 80%;
  }
  50% {
    background-size: 135%;
    /* z-index: 1; */
  }
  100% {
    background-size: 80%;
  }
}